name: Check if a Docker image can be built

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build the Docker image
      run: |
        docker build . --tag ${{ github.repository }}
        docker images

    - name: Execute "indexer -v" and "env"
      run: |
        docker run ${{ github.repository }} indexer -v
        docker run ${{ github.repository }} env | sort

    - name: Index the test data
      run: |
        make index

    - name: Check the index
      run: |
        set -x
        make start && sleep 2 && docker ps

        echo "Make the test queries"
        make query

        echo "Logs"
        docker logs sphinx_test
