name: Build and publish a Docker image to ghcr.io and Docker Hub
on:

  # publish on releases (tagged as "x.y.z" - "v" prefix is removed)
  release:
    types: [ published ]

  # publish on pushes to the main branch (tagged as "master")
  push:
    branches:
      - master

jobs:
  docker_publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # https://github.com/marketplace/actions/push-to-ghcr
      - name: Build and publish a Docker image for macbre/sphinxsearch
        uses: macbre/push-to-ghcr@master
        with:
          image_name: macbre/sphinxsearch
          github_token: ${{ secrets.GITHUB_TOKEN }}
          docker_io_token: ${{ secrets.DOCKER_IO_ACCESS_TOKEN }}
